.sections{

  height: 100%;
}

.side-nav{
  min-height: 100%;
  max-height: fit-content;
}

.categories{
  max-height: fit-content;
  border: solid #aaaaaa 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 5px 20px -10px #333333;;
}

.categories div{
  width: 100%;
}

.categories button{
  margin: 0;
  width: 100%;
  background-color: none;
  box-shadow: none;
  text-align: left;
  font-size: 15px;
}

.colapse-content{
  width: 100%;
  border-bottom: var(--primary-black) solid 2px;
}

.brands{
  border: solid var(--primary-black) 1px;
  align-items: center;
  display: flex;
  flex-direction: column;

  box-shadow: 0px 5px 20px -10px #333333;;

}

.brand{
  width: 100%
}

.brand button{
  margin: 0;
  width: 100%;
  background-color: none;
  box-shadow: none;
  text-align: left;
  font-size: 15px;
}

button:hover{
  background-color: var(--primary-blue);
  color: var(--primary-red);
}

h3 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--primary-red);
  line-height: 0.1em;
  margin: 10px 0 20px;
  color: var(--primary-blue);
}

h3 span {
   background:#fff;
   padding:0 10px;
}

