<div class="side-nav sections d-flex flex-column">
  <h3><span> categories </span></h3>
  <div class="categories">
    <div class="category-item m-0 p-0 d-flex flex-column" *ngFor="let item of withitemsCategories">
      <!-- <button
        class="btn m-0 d-flex flex-row justify-content-between"
        type="button"
        (click)="sportswarebasicCollapse.toggle()"
        [attr.aria-expanded]="!sportswarebasicCollapse.collapsed"
        aria-controls="sprotswarecolapse"

      >
        {{item.key}}
        <span class="badge pull-right badge-dark"><i class="fa fa-plus"></i></span>

      </button>

      <div class="colapse-content" id="sprotswarecolapse" mdbCollapse #sportswarebasicCollapse="mdbCollapse">
          <button class="btn" *ngFor="let value of item.values">{{value}}</button>
      </div> -->
    </div>

    <div *ngFor="let item of noitemsCategories">
      <button
          class="btn"
          type="button"
          >
          {{item}}
      </button>
    </div>
  </div>

  <h3 class="mt-3"><span> brands </span></h3>
  <div class="brands">
    <div class="brand"
         *ngFor="let brand of brands"
    >
      <button
            class="btn"
            type="button"
            >
            {{brand}}
        </button>
    </div>
  </div>
</div>
