<div class="row container">
  <!-- <div class="col-3 categories">
    <app-sidenav></app-sidenav>
  </div> -->
  <div class="toolbar">
    <div class="dropdown categories" *ngFor="let category of withitemsCategories">
      <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{category.key}}
      </button>
      <ul class="dropdown-menu">
        <li *ngFor="let item of category.values"><button class="dropdown-item">{{item}}</button></li>
      </ul>
      <hr>
    </div>
  </div>
  <div class="products">
    <app-product *ngFor="let item of (products | slice:lowValue:highValue) " [product]="item"></app-product>
  </div>
</div>
<mat-paginator [length]="100"
            [pageSize]="12"
            (page)="nextPage($event)"
            aria-label="Select page">
</mat-paginator>
