.container{
  margin: auto;
}
.card{
  align-items: center;
}

.card img{
  width: 150px;
}
.toolbar{
  width: 100%;
  display: flex;
  flex-flow:row wrap;
  position: relative;
  top: 20px;
  box-shadow: 5px 5px 20px -10px #333333;

}

.categories{
  background-color: white;
  display: flex;
  flex-flow:row wrap;
  min-width: 150px;
  justify-content: space-around;
}

.categories hr{
  border: solid #0d6efd 4px;
  border-left: 20px;
  margin: 8px 0 8px 0;
  height: 30px;
}

.categories button{
  width: 95%;
}

.card-body{
  align-items: center;
}

.card button{
  width: 100px;
  background-color:var(--primary-blue);
  color: white;
}


.products{
  display: flex;
  flex-flow: row wrap;
  padding-top: 30px;
  justify-content: space-around;
}

app-product{
  width: 30%;
  margin-bottom: 30px;

}
