<div class="product-container">
  <div class="image-container">
    <img [src] = "product?.photoUrl" alt="">
  </div>
    <h3>{{product?.price| currency:'USD'}}</h3>
    <p>{{product?.name}}</p>
    <button mat-button class="btn btn-primary" (click)="addtoCart()"><mat-icon>add_shopping_cart</mat-icon> Add to cart</button>
</div>
