.product-container{
  width: 100%;

  border: var(--primary-white) solid 2px;
  box-shadow: 5px 5px 20px -10px #333333;
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.image-container{
  width: 200px;
  height: 250px;
}

img{
  width: inherit;
  max-height: 250px;
  border-radius: 50%;
}
