
.card{
  align-items: center;
}

.card img{
  width: 150px;
}


.card-body{
  align-items: center;
}

.card button{
  width: 100px;
  background-color:var(--primary-blue);
  color: white;
}

.categories{
  height: 800px;
}

.products{
  height: 1900px;
  display: flex;
  flex-flow: row wrap;
  padding:30px;
  justify-content: space-around;
}

app-product{
  width: 30%;
  height: 23%;
}


.footer{
  width: 100%;
  background-color: var(--primary-white);
  height: 500px;
  margin: 0px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.footer-content{
  height: 85%;
  margin: auto;
}

tbody td{
  border: none;
  padding-left: 0px;
}

td button{
  box-shadow: none;
  text-align: left;
}
