<app-navbar [user]="authService.getcurrentUser() | async"></app-navbar>
<!-- <div class="row d-flex justify-content-around mt-3">
  <div class="col-3 categories">
      <app-sidenav></app-sidenav>
  </div>
  <div class="col-8 products">
      <app-product *ngFor="let item of products" [product]="item"></app-product>
  </div>
</div> -->
<router-outlet></router-outlet>
<app-footer></app-footer>
<!-- <div class="row footer">
<div class="col-9 footer-content">
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let item of footerContent" scope="col">{{item.key}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of footerContent[0].values; let row_index = index">
          <td *ngFor="let term of footerContent; let col_index = index" scope="row">
            <button class="btn">{{footerContent[col_index].values[row_index]}}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

