<div class="order" *ngFor="let order of (orders | slice : lowValue:highValue)">
    <div class="d-flex row">
      <h2 class="col-sm-2">OrderId: <small>{{order.orderId}}</small></h2>
      <h2 class="col-sm-4">Date: <small>{{order.createdAt | date:'medium'}}</small></h2>
      <h2 class="col-sm-2">Total: <small>{{order.totalPrice | currency:"USD"}}</small></h2>

    </div>
    <div class="details row">
      <table class="table">
        <thead >
          <tr>
            <th>product name</th>
            <th>product photo</th>
            <th>product price</th>
            <th>product count</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of order.orderDetails">
            <td>{{item.product.name}}</td>
            <td><img [src]="item.product.photoUrl" alt=""></td>
            <td>{{item.product.price | currency:"USD"}}</td>
            <td>{{item.numberOfItems}}</td>
          </tr>
        </tbody>
      </table>
      <!-- <div class="details-item" *ngFor="let item of order.orderDetails">
        <h3>{{item.product.name}}</h3>
        <img [src]="item.product.photoUrl" alt="">
        <h3>{{item.product.price}}</h3>
        <h3>{{item.numberOfItems}}</h3>
      </div> -->
    </div>
  </div>
<mat-paginator [length]="100"
            [pageSize]="5"
            (page)="nextPage($event)"
            aria-label="Select page">
</mat-paginator>
