.order{
  width: 98%;
  height: 300px;
  margin-bottom: 10px;
  border-bottom: solid gray 3px;
  padding: 20px;

}


.details{
  width: 90%;
  margin:auto;
  height: 70%;
  overflow-y:scroll;
}

.details-item{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
}

.details-item img{

}

th{
  font-family:'Courier New', Courier, monospace Times, serif;
  text-transform: capitalize;
}


td{
  vertical-align: baseline;
  font-size: 15px;
}

img{
  width: 85px;
  height: 85px;
  border-radius: 50%;
}
