<nav class="navbar navbar-light bg-light justify-content-between px-4">
  <img src="assets/icons/logo2.png" alt="">
  <div class="profile-data col-sm-2" *ngIf="user != null">
    <img src="" alt="">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        {{user.firstName +  " " + user.lastName}}
      </button>
      <div class="dropdown-menu ">
        <li><button mat-button class="btn" routerLink="profile">Profile</button></li>
        <li><button mat-button class="btn" (click)="logout()">Log out</button></li>
      </div>
    </div>

    <img [src]="user.photoUrl" alt="">
  </div>
</nav>
