img{
  height: 50px;
}

.profile-data{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.profile-data img{
  border-radius: 50%;
}

.profile-settings{
  height: 500px;
  background-color: blue;
}
