<app-auth-nav></app-auth-nav>
<div class="row col-sm-4 mx-auto ">
  <div class="card p-0">
    <div class="card-header">
      <h1>Login</h1>
    </div>
    <img class="pt-2" src="assets/icons/logo.png" alt="">
    <div class="card-body">
      <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <div class="form-group pb-3">
          <input type="email" class="form-control" name="email" #Email="ngModel" ngModel  placeholder="Email" required>
          <small class="error" *ngIf="Email.touched && Email.invalid">Email is required</small>
        </div>
        <div class="form-group pb-3">
          <input type="password" class="form-control" #password="ngModel" name="password" ngModel placeholder="Password" required minlength="8">
          <div *ngIf="password.touched">
            <small class="error" *ngIf="password.errors?.['minlength']">Password is less than 8 characters</small>
            <small class="error" *ngIf="password.errors?.['required']">Password is required</small>
          </div>
        </div>
        <button class="btn col-sm-12 ms-auto" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
