.row{
  margin-top: 8%;
  height: 32rem;
  display: flex;

  justify-content: space-between;
}



.card{
  align-items: center;
}
.card-header{
  width: 100%;
  text-align: center;
  color: white;
  background-color: var(--primary-red);
}

.card img{
  width: 10rem;
}


.ng-invalid.ng-touched{
  border-color: red;
}


.error{
  color: red;
}


button{
  color: white;
  background-color: var(--primary-blue);
  align-self: center;
}

button:hover{
}
