img{
  height: 50px;
}

a{
  color: white;
}


.profile-data{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.profile-data img{
  border-radius: 50%;
}


.products-menu-item{
  height: 30px;
  width: 50px;
  display: flex;
  flex-flow: row wrap;

}

.products-menu-item img{
  height: 25px;
  width: 25px;
}

.cart-dropdown{
  max-height: 250px;
  overflow-y: hidden;
  text-align: center;
}


.cart-content{

  height: 150px;
  overflow-y: scroll;
}

.dropdown-item{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: 250px;

}


.dropdown-item img{
  width: 50px;
  height: 50px;
}

.cart-button{
  width: 175px;
}
.cart{
  display: flex;
  flex-flow: row wrap;
  width: 135px;
  align-items: center;
  justify-content: space-around;
}

h2{
  margin: 0;
  text-align: center;
}

