<nav class="navbar navbar-light bg-light justify-content-between px-4">
  <img src="assets/icons/logo2.png" alt="">
  <div class="me-3" *ngIf="user == null">
    <button class="btn btn-primary me-2 " > <a href ='authentication/register'>Register</a></button>
    <button class="btn btn-primary me-2 " ><a href ='authentication/login'>Login</a></button>
  </div>
  <div class=" profile-data col-sm-3" *ngIf="user != null">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        {{user.firstName +  " " + user.lastName}}
      </button>
      <div class="dropdown-menu ">
        <li><button mat-button class="btn" routerLink="profile">Profile</button></li>
        <li><button mat-button class="btn" (click)="logout()">Log out</button></li>
      </div>
    </div>
    <div class="dropdown">
      <button mat-button [disabled]="fetchProducts().length == 0 " class="btn btn-secondary cart-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="cart">
          <h2>cart</h2>
          <mat-icon *ngIf="fetchProducts().length > 0" [matBadge]="fetchProducts().length" matBadgeColor="warn">shopping_cart</mat-icon>
        </div>
      </button>
      <div class="dropdown-menu cart-dropdown">
        <button class="btn btn-primary" mat-button routerLink="profile/cart">view cart</button>
        <div class="cart-content">
          <li mat-button *ngFor="let product of fetchProducts()" class="dropdown-item">
            <img [src]="product.product.photoUrl" alt="">
            <small>{{product.counter}}</small>
            <button mat-raised-button  color="warn" focusable="false" (click)="removeFromCard(product.product)">
              <mat-icon>cancel</mat-icon>
             </button>
          </li>
        </div>
        <li><hr class="dropdown-divider"></li>
        <p>Total Price {{totalPrice() | currency:'USD'}}</p>
      </div>
    </div>
    <img [src]="user.photoUrl" alt="">
  </div>
</nav>
