<div *ngIf="products.length > 0" class="mat-elevation-z8 container">
  <div>
    <table mat-table [dataSource]="dataSource"  >


      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let product"> {{product.product.name}} </td>
      </ng-container>

      <!-- photo Column -->
      <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef>Photo</th>
        <td mat-cell *matCellDef="let product"> <img [src]="product.product.photoUrl" alt=""> </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let product"> {{product.product.price | currency:'USD'}}  </td>
      </ng-container>

      <!-- Counter Column -->
      <ng-container matColumnDef="counter">
        <th mat-header-cell *matHeaderCellDef> Counter </th>
        <td mat-cell *matCellDef="let product"> {{product.counter}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let product;  let j = index;">
           <button mat-raised-button  color="warn" focusable="false" (click)="deleteProduct(product.product)">
            <mat-icon>cancel</mat-icon>
           </button>
        </td>
     </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator> -->
    <hr>
    <div class="actions container">
      <h3>Total Price: {{totalPrice() | currency:"USD"}}</h3>
      <button mat-button class="btn btn-primary mb-2 align-self-center" [disabled]="products.length == 0" (click)="saveOrder()">
        submit
      </button>
    </div>
  </div>
</div>
<div *ngIf="products.length == 0" class="empty-cart">
  <h2>Your Cart Is Empty</h2>
  <button mat-button class="btn btn-warn" routerLink="/"> Go To Shop</button>
</div>
