table {
  width: 100%;
  text-align: center;
}


td img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


th.mat-header-cell{
  text-align: center;
}

.actions{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-cart{
  align-items:center;
  display: flex;
  flex-flow: column wrap;
  position: relative;
  top:30%;
}
