.footer{
  width: 100%;
  background-color: var(--primary-white);
  height: 500px;
  margin: 0px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.footer-content{
  height: 85%;
  margin: auto;
}

tbody td{
  border: none;
  padding-left: 0px;
}

td button{
  box-shadow: none;
  text-align: left;
}
