<div class="row footer">
  <div class="col-9 footer-content">
      <table class="table">
        <thead>
          <tr>
            <th *ngFor="let item of footerContent" scope="col">{{item.key}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of footerContent[0].values; let row_index = index">
            <td *ngFor="let term of footerContent; let col_index = index" scope="row">
              <button class="btn">{{footerContent[col_index].values[row_index]}}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
