/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
:root{
  --primary-red:#ED3C53;
  --primary-black:#6E6D72;
  --primary-blue:#54C5CF;
  --primary-white:#F0F0E9;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
