.row{
  margin-top:3%;
}

.card-header{
  text-align: center;
  background-color: var(--primary-red);
  color: white;
}

.actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.btn{
  background-color: var(--primary-blue);
  width: 50%;
  color: white;
}

button:hover{
  color: white;
}

select{
  width: 100%;
}

.ng-touched.ng-invalid{
  border-color: red;
}
