<app-auth-nav></app-auth-nav>
<div class="row col-sm-4 mx-auto">
  <div class="card p-0">
    <div class="card-header p">
      <h2>Register</h2>
    </div>
    <div class="card-body">
      <form action="" [formGroup]="registerForm">
        <div class="form-group pb-3 row justify-content-between">
          <div class="col-6">
            <input class="form-control" type="text" formControlName="firstName" name="" placeholder="First Name">
            <small class="text-danger" *ngIf="getfirstName().touched && getfirstName().errors?.['required']">First Name is required</small>
          </div>
          <div class="col-6">
            <input class="form-control" type="text" formControlName="lastName" name="" placeholder="Last Name">
            <small class="text-danger" *ngIf="getlastName().touched && getlastName().errors?.['required']">Last Name is required</small>
          </div>
        </div>
        <div class="form-group pb-3">
          <input class="form-control" type="text" formControlName="email" name="" placeholder="Email">
          <small class="text-danger" *ngIf="getemail().touched && getemail().errors?.['required']">Email is required</small>
        </div>
        <div class="form-group pb-3">
          <input class="form-control" type="text" formControlName="phoneNumber" name="" placeholder="Mobile Phone">
          <small class="text-danger" *ngIf="getphoneNumber().touched && getphoneNumber().errors?.['required']">Phone number is required</small>
        </div>
        <div class="form-group pb-3">
          <input class="form-control" type="text" formControlName="city" name="" placeholder="City">
          <small class="text-danger" *ngIf="getcity().touched && getcity().errors?.['required']">City is required</small>
        </div>
        <div class="form-group pb-3">
          <input class="form-control" type="password" formControlName="password" name="" placeholder="Password">
          <small class="text-danger" *ngIf="getpassword().touched && getpassword().errors?.['required']">Password is required</small>
          <small class="text-danger" *ngIf="getpassword().touched && getpassword().errors?.['minlength']">Password must be at least 8 charachters</small>
        </div>
        <div class="form-group pb-3">
          <input class="form-control" type="password" formControlName="confirmPassword" name="" placeholder="Confirm Password">
          <i class="fa-eye-slash" aria-hidden="false"></i>
          <div *ngIf="getconfirmPassword().touched ">
            <small class="text-danger" *ngIf="getconfirmPassword().errors?.['required']">Confirm password is required</small>
            <small class="text-danger" *ngIf="registerForm.errors?.['identical']">Passwords are not the same</small>
          </div>
        </div>
        <div class="form-group actions">
          <button class="btn" [disabled]="registerForm.invalid" (click)="submit()">Register</button>
          <a class="text-primary" routerLink="/login">Have an acount? Login</a>
        </div>
      </form>
    </div>
  </div>
</div>
