<!-- <app-profile-nav></app-profile-nav> -->
<div class="row profile-page">
  <div class="profile-settings">
    <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dXNlcnxlbnwwfHwwfHw%3D&w=1000&q=80" alt="">
    <div class="d-flex flex-column justify-content-start">
      <a class="text-align-start" mat-button>Profile details</a>
      <a class="text-align-start" routerLink="cart" mat-button>Current Order</a>
      <a class="text-align-start" routerLink="orders" mat-button>Orders</a>
    </div>
  </div>
  <div class="profile-details">
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer></app-footer>
