
.profile-page{
  width: 98%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 30px;
}


.profile-settings{
  background-color: #F5F5F1;
  width: 30%;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: fit-content;
  padding-top: 20px;
  border-radius: 20px;
}

.profile-settings img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}


.profile-details{
  margin: auto;
  padding: 10px;
  border: solid black;
  width: 65%;
}
